body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    animation: colorfon 5s infinite linear;
    color: #333333; /* Цвет основного текста */ 
}
h1 {
    color: #00a800; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h2 {
    color:burlywood;
}
@keyframes colorfon {
    0%{
        background-color: aquamarine
    }
    20%{
        background-color: skyblue
    }
    40%{
        background-color: blue
    }
    60%{
        background-color: rgb(172, 127, 255)
    }
    80%{
        background-color: rgb(229, 127, 255)
    }
    100%{
        background-color: aquamarine
    }
}